<h1>Conéctate</h1>

<%= form_with url: sessions_path do |form| %>
  <div class="form__control">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="form__control">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "Conéctate" %>
<% end %>