<% if @post.errors.any? %>
  <div class="flash__error">
    <ul>
      <% @post.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post do |form| %>
  <div class="form__control">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form__control">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="form__control">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 20 %>
  </div>

  <div class="form__control">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <%= form.submit %>
<% end %>