<article>
  <header>
    <h1><%= @post.title %></h1>
    <time datetime="<%= @post.date %>"><%= @post.date.strftime("%d-%m-%Y") %></time>
    <% if current_user %>
      <%= link_to "Editar", edit_post_path(@post) %>
    <% end %>
  </header>

  <%= @post.body.html_safe %>
</article>