<!DOCTYPE html>
<html>
  <head>
    <title>UbrionCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: "layouts/menu" if current_user %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert__#{name}" %>
      <% end %>

      <%= yield %>

      <footer class="footer">
        <%= link_to "ubrion.com", root_path %>
      </footer>
    </div>
  </body>
</html>
